.global-heading-text {
    text-align: center;
    p {
        font-size: 1.8rem;
        @include media($medium) {
            font-size: 2.4rem;
        }
    }
    .small-text {
        font-style: italic;
        
        font-size: 1.6rem;
    }
}