// =============================================================================
//  BUTONS
// =============================================================================

$button-side-spacing: 1rem;

.button {
	width: 100%;
	display: inline-block;
	padding: 1.5rem 1.5rem;
	margin: .5rem 0;
	appearance: none;
	color: white;
	background-color: $slate;
	font-family: $regular;
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	cursor: pointer;
	user-select: none;
	transition: all 0.2s ease;
	max-width: fit-content;
	min-width: 15rem;
	border-radius: 3px;
	height: 50px;

	@include media($medium) {
		height: 52px;
		padding: 1.8rem 2rem;
		margin: 1rem 0;
	}

		&:hover{
			color: white;
			background-color: $coffee;
			border-color: $coffee;
		}

	&.secondary {
		color: black;
		background-color:$white;

		@include media($medium) {
			padding: 1.6rem 2rem;
		}

		&:hover {
			color: white;
			background-color: $coffee;
			border-color: black;
		}
		&:before {
			content: '';
			background: url(/assets/img/cta-bg.jpg) no-repeat;
			width: 15px;
			height: 15px;
			border-radius: 100%;
			display: inline-block;
			position: relative;
			top: 2px;
			left: -1rem;
			background-size: 100%;
			background-position: 0 -1px;
		}
	}
}
