.ind_02_section {
    width: 100%;
    float: left;
    height: 300px;
    background-image: url(/assets/img/marketing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    @include  media($medium) {
        height: 600px;
        background-size: cover  ;
        background-position: center center;
    }

    .two-cols {
        width: 100%;
        height: 100%;

        .col {
            width: 100%;
            height: inherit;
            background: rgba(201, 194, 182, 0.9);
            @include media($medium) {
                width: 50%; 
                background: rgba(201, 194, 182, 0.65);
            }
        }
    }

    .ind-wrapper {
        height: 100%;
        @include flex;
        flex-flow: column;
        p.text-white {
            color: $white;
        }
        .content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            @include media($medium) {
                align-items: flex-start;
                text-align: left;
            }

            p {
                font-size: 1.6rem; 
                @include media($medium) {
                    font-size: 2.4rem;
                }
            }
        }
    }
}