.ind_06_sectiion {
    width: 100%;
    float: left;
    padding: 5rem 0;
    background-color: $light-grey;


    @include media($medium) {
        padding: 5rem  7rem 5rem 7rem;
    }

    @include media($xlarge) {
        padding: 5rem  10rem 5rem 10rem;
    }

    .global-heading-text {
        .small-text {
            color: $slate;
        }
    }

    .blog-row {
        @include flex;
        justify-content: space-between;
        padding-top: 3rem;
        @include media($large) {
            padding-top: 5rem;
        }
        .b-col {
            width: 100%;
            margin-bottom: 1.5rem;
            @include media($default) {
                width: calc(100% / 3 - 1.1rem);
                margin-bottom: 0;
            }

            .col-image {
                width: 100%;
                height: 22rem;
                overflow: hidden;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            .dofb {
                @include flex;
                flex-flow: row;
                .date {
                    width: 11rem;
                    text-align: center;
                    background-color: #ebe2d9;
                    h4 {
                        font-size: 2rem;
                    }
                    h2,h4 {
                        color: #b69874;
                    }
                }
                .content {
                    width: calc(100% - 11rem);
                    padding: 4rem 2rem 4rem 2rem;
                    min-height: 27rem;
                    background-color: $white;
                    h5 {
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size: 1.4rem;
                        color: $coffee  ;
                    }
                }
            }
        }
    }
}